<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form autocomplete="off" action="">
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="game.title" placeholder="Tittle" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="description" [(ngModel)]="game.description" placeholder="Description" rows="2" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image" [(ngModel)]="game.image" placeholder="Image" class="form-control">
        </div>
        <div class="text-center">
        <button class="btn btn-success btn-block"(click)="edit ? updateGame() : saveNewGame()">
            Save
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
    <img [src]="game.image === '' ? '/assets/noimage.png' : game.image" alt="No Image" class="card-img-top">
    <h3>{{game.id}}. {{game.title === '' ? 'Game Tittle' : game.title}}</h3>
    <p>{{game.description === '' ? 'Write your description' : game.description}}</p>
    <p>{{game.created_at | date:'yyy-MM-dd'}}</p>
  </div>
</div>
