<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Games-APP</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/games" routerLinkActive="active">
             Games  <i class="fas fa-gamepad"></i></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/games/add" routerLinkActive="active"
            >Add game  <i class="fas fa-plus-circle"></i></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
